<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="newsProvider" class="me.aodi.spring_revelation.ioc.service.FXNewsProvider">
        <constructor-arg>
            <ref bean="djNewsListener"></ref>
        </constructor-arg>
        <constructor-arg>
            <ref bean="djNewsPersister"></ref>
        </constructor-arg>
    </bean>

    <bean id="djNewsListener" class="me.aodi.spring_revelation.ioc.service.impl.DowJonesNewsListener"></bean>
    <bean id="djNewsPersister" class="me.aodi.spring_revelation.ioc.service.impl.DowJonesNewsPersister"></bean>
</beans>